<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ /www/tester/facebook_login/index.php?/$1 [L]

RewriteCond %{REQUEST_URI} ^application.*
RewriteRule ^(.*)$ /www/tester/facebook_login/index.php?/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /www/tester/facebook_login/index.php?/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>

ErrorDocument 404 /www/tester/facebook_login/index.php
</IfModule>